<h1>Productos en Tiempo Real</h1>
<ul id="lista-productos" class="collection">
  {{#each products}}
    <li>Nombre: {{this.nombre}} - Precio ${{this.precio}} - Stock: {{this.stock}}</li>
  {{/each}}
</ul>

<h2>Agregar Producto</h2>
<form id="form-agregar">
  <input type="text" id="nombre" placeholder="Nombre" required />
  <input type="number" id="precio" placeholder="Precio" min="0" required />
  <input type="number" id="stock" placeholder="Stock" min="1" required />
  <button type="submit">Agregar</button>
</form>

<h2>Eliminar Producto</h2>
<form id="form-eliminar">
  <input type="text" id="nombre-eliminar" placeholder="Nombre del Producto a eliminar" required />
  <button type="submit">Eliminar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/main.js"></script>
